DUMMY_JP/services/jp2_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="jp2"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="jp2OperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="jp2OperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="jp2OperationRequest">
		<wsdl:part name="parameters" element="tns:jp2OperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="jp2OperationResponse">
		<wsdl:part name="parameters" element="tns:jp2OperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="jp2PortType">
		<wsdl:operation name="jp2Operation">
			<wsdl:input message="tns:jp2OperationRequest"></wsdl:input>
			<wsdl:output message="tns:jp2OperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="jp2Binding" type="tns:jp2PortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="jp2Operation">
			<soap:operation soapAction="http://www.talend.org/service/jp2Operation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="jp2">
		<wsdl:port name="jp2Port" binding="tns:jp2Binding">
			<soap:address location="http://localhost:8090/services/jp2" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>