DEVELOPMENT/services/Customers_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Customers"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="CustomersOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="productID" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CustomersOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="customerID"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="customerName"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="email"
							type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="CustomersOperationRequest">
		<wsdl:part name="parameters" element="tns:CustomersOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="CustomersOperationResponse">
		<wsdl:part name="parameters" element="tns:CustomersOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="CustomersPortType">
		<wsdl:operation name="CustomersOperation">
			<wsdl:input message="tns:CustomersOperationRequest"></wsdl:input>
			<wsdl:output message="tns:CustomersOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="CustomersBinding" type="tns:CustomersPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="CustomersOperation">
			<soap:operation soapAction="http://www.talend.org/service/CustomersOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="Customers">
		<wsdl:port name="CustomersPort" binding="tns:CustomersBinding">
			<soap:address location="http://localhost:8090/services/Customers" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>