DEVELOPMENT/services/SoapTest_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SoapTest"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="SoapTestOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SoapTestOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="SoapTestOperationRequest">
		<wsdl:part name="parameters" element="tns:SoapTestOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="SoapTestOperationResponse">
		<wsdl:part name="parameters" element="tns:SoapTestOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="SoapTestPortType">
		<wsdl:operation name="SoapTestOperation">
			<wsdl:input message="tns:SoapTestOperationRequest"></wsdl:input>
			<wsdl:output message="tns:SoapTestOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="SoapTestBinding" type="tns:SoapTestPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="SoapTestOperation">
			<soap:operation soapAction="http://www.talend.org/service/SoapTestOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="SoapTest">
		<wsdl:port name="SoapTestPort" binding="tns:SoapTestBinding">
			<soap:address location="http://localhost:8090/services/SoapTest" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>