DEVELOPMENT/services/SOAPDT_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SOAPDT"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="SOAPDTOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SOAPDTOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="SOAPDTOperationRequest">
		<wsdl:part name="parameters" element="tns:SOAPDTOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="SOAPDTOperationResponse">
		<wsdl:part name="parameters" element="tns:SOAPDTOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="SOAPDTPortType">
		<wsdl:operation name="SOAPDTOperation">
			<wsdl:input message="tns:SOAPDTOperationRequest"></wsdl:input>
			<wsdl:output message="tns:SOAPDTOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="SOAPDTBinding" type="tns:SOAPDTPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="SOAPDTOperation">
			<soap:operation soapAction="http://www.talend.org/service/SOAPDTOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="SOAPDT">
		<wsdl:port name="SOAPDTPort" binding="tns:SOAPDTBinding">
			<soap:address location="http://localhost:8090/services/SOAPDT" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>